<nav class="navbar navbar-expand-lg navbar-light bg-light main-navbar">
  <div class="container">
    <div class="col-sm-4">
      {{#link-to "home" class="navbar-brand" }}Clickgram{{/link-to}}
    </div>
    <div class="col-sm-4">
      <form class="my-2 my-lg-0 mx-auto global-search">
        <input class="form-control mr-sm-2 form-control-sm" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
    <div class="col-sm-4">
      <ul class="navbar-nav mr-auto pull-right">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">
            {{fa-icon "camera" size="lg"}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            {{fa-icon "compass" size="lg"}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            {{fa-icon "star-o" size="lg"}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            {{fa-icon "user-o" size="lg"}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>