<div class="card text-center">
  <div class="card-header">

  </div>
  <div class="card-body">
    {{!-- <img class="card-img" src="..." alt="Card image"> --}}
  </div>
  <div class="card-footer text-muted">
    {{model.createdAt}}
  </div>
</div>